html,
body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  transition: background-color 0.3s ease;
}

/* Dunkles Design */
.dark-mode {
  background-color: #151515;
  color: #ffffff;
}

/* Helles Design */
.light-mode {
  background-color: #ffffff;
  color: #151515;
}

/* Gemeinsamer Button-Stil */
.btn-custom {
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-custom-dark {
  background-color: #555;
  color: #ffffff;
}

.btn-custom-light {
  background-color: #eaeaea;
  color: #565353;
}

/* Hover-Effekt */
.btn-custom:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.btn-custom:active {
  transform: translateY(0);
  box-shadow: none;
}
